body {
	color: #000;
	font-family: arial;
	font-size: 13px;
	margin: 0;
}

p:hover { 
	text-decoration: underline; 
	cursor: default;
}


a {
	text-decoration: none; 
	color: inherit;
	cursor: default;
}

/* ====== Header ====== */
.header {
	float: right;
}

nav ul li {
	display: inline-block;
	padding-left: 15px;
	padding: 0 20px 0 0;
}

/* ====== Content ====== */
.content {
	display: block;
	width: 100%;
	padding-top: 200px;
	padding-bottom: 135px;
	text-align: center;
}

.logo img {
	position: relative;
	width: 272px;
	height: 92px;
	display: block;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

.searchbox {
	position: relative;
	width: 600px;
	margin: auto;
}

.searchbox input{
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	width: 600px;
	height: 46px;
	font-size: 16px;
	padding: 0 15px;
}

.searchbox input:hover {border:1px solid #AEAEAE;}

.mic img {
	float: right;
	position: relative;
	width: 20px;
	height: 25px;
	top: -35px;
	right: 10px;
}

/* ====== Buttons ====== */
.buttons {
	display: inline-block;
	margin-top: 15px;
}

button {
	background-color: #f2f2f2;
	color: #757575;
	border: none;
	font-weight: bold;
	margin: 6px 6px;
	padding: 0 16px;
	text-align: center;
	height: 36px;
}

button:hover {border: 1px solid #cacaca;}

/* ====== Footer ====== */
.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	border-top: 1px solid #e4e4e4;
	background: #f2f2f2;
	line-height: 30px;
	color: #666;
}

.footer p {
	display: inline;
	margin: 14px;
}

.r_footer {float: right; padding-right: 15px}
.l_footer {float: left; padding-left: 15px}