body {
	color: #000;
	font-family: arial;
	font-size: 13px;
	margin: 0;
}

.head {
 	height: 10px;
 	width: 100%;
 	top:0;
 	margin: 15px 0;
}

nav ul {
	float: right;
	margin: 1px 0;
}

nav ul li {
	display: inline;
	margin: 0 15px 0 0;
}

.content {
	padding-top: 109px;
	margin: 89px auto;
}

.logo {
	max-width: 300px;
	margin: auto;
}

img {
	max-width: 100%;
	height: 92px;
	width: 272px;
}

form {
	position: relative;
}

.searchbox {
	display: block;
	margin:25px auto;
	height:40px;
	width: 550px;
}

button {
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;
	display: inline-block;
	height: 35px;
	width: 125px;
	background: #f2f2f2;
	border-radius: 2px;
	border:1px solid #f2f2f2;
}


.footer {
	width:100%;
	position: fixed;
	height: 40px;
	border-top: 1px solid #e4e4e4;
	border-style: solid;
	border-width: 1px 0 0 0;
	background: #f2f2f2;
	min-width: 980px;
	bottom: 0;
	line-height: 40px;
}

.footer p {
	display: inline;
	color: #757575;
	margin: 14px;

}

.r_footer {float: right; padding-right: 15px}
.l_footer {float: left; padding-left: 15px}